
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

Det finns @ViewBag.count djur i databasen 
och de har @ViewBag.sum ben tillsammans

<p>
    <button id="ajaxButton">Hur många rader i databasen nu?</button>
</p>
<p id="ajaxResult">
    Här kommer resultatet att visas
</p>

<p>
    <button id="ajaxButtonCrossDomain">AJAX till annan domän</button>
</p>
<p id="ajaxResultCrossDomain">
    Cross domain resultat
</p>